<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Getting Started with Angular Material</mat-card-title>
        <mat-card-subtitle>Angular 2023 - Material Design</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg">
    <mat-card-content>
        <p>This guide explains how to set up your Angular project to begin using Angular Material.
            It includes information on prerequisites, installing Angular Material,
            and optionally displaying a sample Material component in your application to verify your setup.
        </p>
    </mat-card-content>

    <mat-card-footer>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Getting Started with Angular Material</mat-card-title>
        <mat-card-subtitle>Angular 2023 - Material Design</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg">
    <mat-card-content>
        <p>This guide explains how to set up your Angular project to begin using Angular Material.
            It includes information on prerequisites, installing Angular Material,
            and optionally displaying a sample Material component in your application to verify your setup.
        </p>
    </mat-card-content>

    <mat-card-footer>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Getting Started with Angular Material</mat-card-title>
        <mat-card-subtitle>Angular 2023 - Material Design</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg">
    <mat-card-content>
        <p>This guide explains how to set up your Angular project to begin using Angular Material.
            It includes information on prerequisites, installing Angular Material,
            and optionally displaying a sample Material component in your application to verify your setup.
        </p>
    </mat-card-content>

    <mat-card-footer>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Getting Started with Angular Material</mat-card-title>
        <mat-card-subtitle>Angular 2023 - Material Design</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg">
    <mat-card-content>
        <p>This guide explains how to set up your Angular project to begin using Angular Material.
            It includes information on prerequisites, installing Angular Material,
            and optionally displaying a sample Material component in your application to verify your setup.
        </p>
    </mat-card-content>

    <mat-card-footer>
        <mat-card-actions>
            <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-button><mat-icon>share</mat-icon>Share</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>
