<h1 style="text-align: center;">Mahadev chaurasiya</h1>
<h1 style="text-align: center;">Angular 16 Examples</h1>
<button mat-raised-button color="warn" matBadge="20" matBadgeColor="warn" 
matBadgePosition="before" matBadgeSize="large">Ok</button>
<br>
<br>
<div>
    <button mat-icon-button matBadge="10" color="primary">
        <mat-icon color="warn">notification</mat-icon>
    </button>
</div>
<div>
    <button mat-icon-button>
        <mat-icon matBadge="10" matBadgeSize="small" matBadgeColor="warn"
         matBadgeDescription="This is for Notification"
         matBadgeOverlap="true"
         matBadgePosition="after">home</mat-icon>
    </button>
</div>
